.main{
  height: 100vh;
  background-color: navy;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 5em;
  background-color: white;
  border-radius: 0.5em;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}

.button:hover {
  color: white;
  cursor: pointer;
}

.container{
  width: 50%;
  padding: 30px;
  background-color: white;
  border-radius: 1em;
}

.container__title{
  font-weight: bold;
  font-size: 1.5em;
}

.inner__addform{
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.add-contents{
  width: 70%;
  height: 2.5em;
  border: solid 1px lightgray;
  border-radius: 0.5em;
}

.add-button{
  border: solid 2px rgb(239, 128, 239);
  color: rgb(239, 128, 239);
}

.add-button:hover {
  background-color: rgb(239, 128, 239);
}

table{
  width: 100%;
  text-align: center;
}

form th, form td {
  height: 2.5em;
  vertical-align: middle;
}

.table-contents{
  padding: 2px 4px;
  width: 80%;
  height: 2em;
  border: solid 1px lightgray;
  border-radius: 0.3em;
}

th:nth-child(1){
  width: 30%;
}

.update-button{
  height: 34px;
  border: solid 2px orange;
  color: orange;
}

.update-button:hover{
  background-color: orange;
}

.delete-button{
  height: 34px;
  border: solid 2px rgb(0, 250, 229);
  color: rgb(0, 250, 229);
}

.delete-button:hover{
  background-color: rgb(0, 250, 229);
}
